.attribution__user {
    display: inline-flex;
    align-items: center;
    margin-bottom: 3px;
}

.geoip-flag {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 5px;
    flex: 0 0 auto;
}

.geoip-flag img {
    width: auto;
    height: 18px;
}